apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
resources:
  - ../../base
  - image-policy.yaml
  - image-update-automation.yaml
patches:
  - path: replica-patch.yaml
  - path: resource-patch.yaml
  - path: config-patch.yaml
  - path: ingress-patch.yaml
images:
  - name: ghcr.io/talhajuikar/flux-demo-website
    newTag: 1.0.1-beta.4 # {"$imagepolicy": "flux-system:flux-demo-website-dev:tag"}
commonLabels:
  environment: dev
nameSuffix: -dev
