apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
resources:
  - ../../base
patchesStrategicMerge:
  - replica-patch.yaml
  - resource-patch.yaml
  - config-patch.yaml
  - ingress-patch.yaml
images:
  - name: ghcr.io/talhajuikar/flux-demo-website
    newTag: 1.0.0-beta.3 # {"$imagepolicy": "flux-system:flux-demo-website-dev:tag"}


commonLabels:
  environment: dev
nameSuffix: -dev
