apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
  - hpa.yaml
patchesStrategicMerge:
  - deployment-patch.yaml
  - ingress-patch.yaml
images:
  - name: ghcr.io/talhajuikar/flux-demo-website
    newName: ghcr.io/talhajuikar/flux-demo-website
    newTag: ghcr.io/talhajuikar/flux-demo-website:1.0.0@sha256:9b420bf6fc8c584dc8929a9f9ec4521e5c8d7a1d338c6795d6b815d86f0ee123 # {"$imagepolicy": "flux-system:flux-demo-website-prod"}
commonLabels:
  environment: prod
nameSuffix: -prod
