apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
  - hpa.yaml
  - image-policy.yaml
  - image-update-automation.yaml
patches:
  - path: deployment-patch.yaml
  - path: ingress-patch.yaml
images:
  - name: ghcr.io/talhajuikar/flux-demo-website
    newTag: 1.0.1 # {"$imagepolicy": "flux-system:flux-demo-website-prod:tag"}
commonLabels:
  environment: prod
nameSuffix: -prod
