apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
resources:
  - ../../base
patchesStrategicMerge:
  - deployment-patch.yaml
  - ingress-patch.yaml
images:
  - name: ghcr.io/talhajuikar/flux-demo-website
<<<<<<< HEAD
    newName: ghcr.io/talhajuikar/flux-demo-website
    newTag: ghcr.io/talhajuikar/flux-demo-website:1.0.0-rc.1 # {"$imagepolicy": "flux-system:flux-demo-website-staging"}
=======
    newTag: 1.0.0-rc.1 # {"$imagepolicy": "flux-system:flux-demo-website-staging"}

>>>>>>> 0775798 (Remove redundant newName field from image definitions in kustomization files)
commonLabels:
  environment: staging
nameSuffix: -staging
